form#commentform p.comment-form-email,form#commentform p.comment-form-author{float:none}.logged-in form#commentform p.comment-form-comment label{display:block}#commentform input[type=submit],#commentform .btn{background:#2d730a;text-shadow:none;margin-right:7px;padding:10px;font-weight:700;font-size:14px;border-radius:3px;opacity:1;transition:.2s}#commentform input[type=submit]:hover,#commentform .btn:hover{opacity:.9}.bypostauthor>div>.comment-author .fn:after{content:'Creator';background:#3b8dbd;color:#fff;padding:2px 5px;border-radius:10px;margin-left:5px;text-transform:uppercase;font-size:.9em}.commentlist .comment-body a,.commentlist .comment-body p{overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word;-ms-hyphens:auto;-moz-hyphens:auto;-webkit-hyphens:auto;hyphens:auto}.commentlist li.bypostauthor>div.comment-body:after,.commentlist li.comment-author-admin>div.comment-body:after{content:'';padding:0}
/*
     FILE ARCHIVED ON 18:03:27 Nov 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:47:56 Jan 22, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 148.749
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.064
  cdx.remote: 0.07
  esindex: 0.011
  LoadShardBlock: 81.084 (3)
  PetaboxLoader3.datanode: 89.736 (4)
  load_resource: 430.157
  PetaboxLoader3.resolve: 419.079
*/