.stButton .stFb,.stButton .stTwbutton,.stButton .stMainServices{height:22px!important}.stButton .stButton_gradient{height:22px!important}
/*
     FILE ARCHIVED ON 18:03:27 Nov 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:47:56 Jan 22, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 172.529
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.062
  cdx.remote: 0.055
  esindex: 0.01
  LoadShardBlock: 150.725 (3)
  PetaboxLoader3.resolve: 63.117 (2)
  PetaboxLoader3.datanode: 115.587 (4)
  load_resource: 58.773
*/