.tw-bs .table>thead>tr>th,.tw-bs .table>tbody>tr>th,.tw-bs .table>tfoot>tr>th,.tw-bs .table>thead>tr>td,.tw-bs .table>tbody>tr>td,.tw-bs .table>tfoot>tr>td{vertical-align:middle!important}.ft_img{margin:5px 10px}.w_50{width:50px!important;text-align:center}.cat_title{font-size:24px;font-weight:700}.cat_title{font-size:20px;font-weight:700}.skin-tags{float:right}.skin-tags a{padding:7px 20px;display:inline-block;border:none;margin-bottom:0;color:#468847;background-color:#dff0d8;border-radius:4px;font-size:15px;line-height:24px}.download-row{margin-bottom:20px}
/*
     FILE ARCHIVED ON 16:46:02 Oct 21, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:49:05 Jan 22, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.013
  exclusion.robots: 0.102
  exclusion.robots.policy: 0.089
  cdx.remote: 0.085
  esindex: 0.013
  LoadShardBlock: 34.947 (3)
  PetaboxLoader3.datanode: 79.722 (4)
  load_resource: 100.684
  PetaboxLoader3.resolve: 52.751
*/