.stButton .stFb,.stButton .stTwbutton,.stButton .stMainServices{height:22px!important}.stButton .stButton_gradient{height:22px!important}
/*
     FILE ARCHIVED ON 16:46:02 Oct 21, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:49:01 Jan 22, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.19
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.064
  cdx.remote: 0.07
  esindex: 0.012
  LoadShardBlock: 70.509 (3)
  PetaboxLoader3.datanode: 95.797 (4)
  load_resource: 127.389
  PetaboxLoader3.resolve: 71.058
*/